:root{
  --fgc: rgb(88, 98, 207);
  --fgca1: rgb(96, 105, 209);
  --fgca2: rgb(140, 145, 206);
}

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}
nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(88, 98, 207);;
}
nav a:hover{
  background-color: #f0f0f0;
}
nav li:first-child{
  margin-right: auto;
  font-weight: bold;
}

.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 1000px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

.theorienav {
  height: 100%;
  width: 16%;
  min-width: 16vh;
  position: fixed;
  z-index: 0;
  top: 50px;
  left: 0;
  background-color: #ededed;
  overflow-x: hidden;
  padding-top: 60px;
  font-size: smaller;
  text-decoration: none;
  color: black;
}

.theorienav h3{
  margin-left: 8%;
}

.theorienav ul{
  list-style: none;
  margin-left: 12%;
  margin-bottom: 5%;
}

.theorienav li{
  margin-bottom: 4%;
}

.musiktheorie-main{
  /* position: absolute; */
  margin-top: 8vh;
  margin-left: max(14%, 16vh);
  width: calc(100% - max(14%, 16vh) - 6%);
  z-index: 0;
  /* padding: 3%; */
  padding-left: 3%;
  padding-right: 3%;
  min-height: 87vh;
  flex: 1;
}

.musiktheorie-main h1{
  margin-left: 2%;
  margin-bottom: 2%;
}

.musiktheorie-main h2{
  margin-left: 4%;
  margin-bottom: 1%;
}

.musiktheorie-main p{
  margin-bottom: 2%;
}

button{
  background-color: var(--fgc);
  color: white;
  padding: 1%;
  margin: 1%;
  border: none;
  border-radius: 24px;
}

button:hover{
  background-color: var(--fgca1);
}

button:active{
  background-color: var(--fgca2);
}

button:disabled{
  color: lightgray;
  background-color: var(--fgca2);
}

hr{
  line-height: 1%;
}

img{
  max-width: 100%;
}

.basic-table{
  width: 90%;
}

.basic-table table, th, td{
  border: 1px solid rgb(180, 180, 180);
  border-collapse: collapse;
}

.basic-table th, td{
  padding: 10px;
}

.basic-table tr:nth-child(even){
  background-color: #eee;
}

.std-main{
  /* position: absolute; */
  margin-top: 8vh;
  /* z-index: 0; */
  /* padding: 2%; */
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  min-height: 87vh;
  flex: 1;
}

.std-main h1{
  margin-bottom: 2%;
}

.std-main h2{
  margin-bottom: 1%;
}

.std-main p{
  margin-bottom: 2%;
}

.python{
  max-width: 65%;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-top: 1%;
  margin-bottom: 5%;
}

.warning-disclaimer{
  background-color: yellow;
  text-align: center;
  padding: 1vh;
}

.profilbild{
  border-radius: 50%;
}

.space{
  margin: 2%;
}

footer{
  background-color: var(--fgc);
  color: white;
  text-align: center;
  /* position:fixed; */
  width: calc(100% - 2vh);
  bottom: 0%;
  left: 0%;
  padding: 1vh;
  z-index: 1;
  height: 3vh;
}

