:root{
    --fgc: rgb(88, 98, 207);
    --fgca1: rgb(96, 105, 209);
    --fgca2: rgb(113, 121, 205);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5%;
    overflow: scroll;
}

.nav{
    display: flex;
    position: fixed;
    margin-top: 0%;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    color: white;
    background-color: var(--fgc);
    font-weight: bold;
}

.nav h2{
    margin-left: 5%;
    width: 20%;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 50%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    font-size: 20px;
    max-zoom: 1;
    min-zoom: 1;
}

.sidenav {
    height: 100%;
    width: 14%;
    position: fixed;
    z-index: 1;
    top: 8vh;
    left: 0;
    background-color: #ededed;
    overflow-x: hidden;
    padding-top: 60px;
    font-size: smaller;
    text-decoration: none;
    color: black;
}

.sidenav h3{
    margin-left: 8%;
}

.sidenav ul{
    list-style: none;
    margin-left: 12%;
}

.musiktheorie-main{
    position: absolute;
    top: 8vh;
    left: 14%;
    width: 86%;
    z-index: -1;
    padding: 3%;
}

.musiktheorie-main h1{
    margin-left: 2%;
    margin-bottom: 2%;
}

.musiktheorie-main h2{
    margin-left: 4%;
    margin-bottom: 1%;
}

.musiktheorie-main p{
    margin-bottom: 1%;
}

.arti{
    overflow: scroll;
}

button{
    background-color: var(--fgc);
    color: white;
    padding: 1%;
    margin: 1%;
    border: none;
    border-radius: 24px;
}

button:hover{
    background-color: var(--fgca1);
}

button:active{
    background-color: var(--fgca2);
}

hr{
    line-height: 1%;
}